body{
    font-size: 16px;
    line-height: 1.8;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    min-height: 100vh;
    overflow-x: hidden;
}

::selection{
    background-color: #16A085;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Cairo', sans-serif;
}

a{
    text-decoration: none;
}