.navbar{
    background-color: #16A085 ;
    box-shadow: 0 0 30px 1px #16A085;
    @media (min-width:992px) {
        max-height: 95px;
    }
    .navbar-brand{
        img{
           width: calc(2vw + 3rem);
        }
    }
    .navbar-toggler{
        width: 30px;
        border: none;
        outline: none;
        box-shadow: none;
        position: relative;
        height: 20px;
    //     span{
    //         background-color: #fff !important;
    //         width: 100%;
    //         height: 2.5px;
    //         left: 0;
    //         position: absolute;
    //         transform-origin: left;
    //         &:first-of-type{
    //             top: 50%;
    //             transform: rotate(45deg);
    //         }
    //         &:nth-of-type(2){
    //             top: 50%;
    //             transform: translateY(-50%) translateX(-100%);
    //             opacity: 0;
    //         }
    //         &:last-of-type{
    //             top: 50%;
    //             transform: rotate(-45deg);
    //         }
        
    // }         
        span{
            background-color: #fff !important;
            width: 100%;
            height: 2.5px;
            left: 0;
            position: absolute;
            &:first-of-type{
                top: 0;
            }
            &:nth-of-type(2){
                top: 50%;
                transform: translateY(-50%);
            }
            &:last-of-type{
                bottom: 0;
            }
        }
    }
    .nav-item{
        .nav-link{
            @media (min-width:992px) {
                padding: 20px 0 !important;
            }
            text-transform: uppercase;
            color: rgb(255, 254, 254);
            letter-spacing: .2rem;
            font-size: 13px;
            font-weight: 600;
            transition: .3s;
            position: relative;
            // width: fit-content;
            &:focus{
                color: rgb(255, 254, 254);
            }
            &::before{
                content: "";
                position: absolute;
                width: 0%;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: #00fecb;
                transition: .3s;
            }
            &:hover,&.active{
                color: #00fecb;
                &::before{
                    width: 100%;
                }
            }
        }
    }
}